.activityComponent img{
    border-radius: 3px;
    border: 1px black solid;
    max-width: 100%;
    height: auto;
}

.titleSection {

}

.mainRow {
    display: flex;
    flex-wrap: wrap;
}

.description {
    flex: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.moreButton {

    text-align: center;
}

.moreButton button {

    background-color: white; /* Green */
    border-radius: 6px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
}

.moreButton button:hover {
    background-color: #292929;
    color: white;
}

.redButton {

    text-align: center;
}

.redButton button {
    background-color: white; /* Green */
    border-radius: 6px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
}

.redButton button:hover {
    background-color: #c21919; /* #e62727; */
    color: white;
}

.rightImage {
    margin: 10px;
    width: 350px;

}

.bottomImage {
    margin: 10px;
    flex: 50%;


}

.bottomRow {
    display: flex;
    align-items: center;
}